.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
}

.mapContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.map {
    width: 80%;
    height: 350px;
    border: none;
    border-radius: 10px;
}

.contacto {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

.medios {
    font-family: "Times New Roman", Times, serif;
}

.icons {
    width: 20px;
    padding: 5px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.fakes {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.ubicacion {
    padding: 0;
    margin: 0;
    color: rgb(243, 250, 255);
}
.items1 {
    color: rgb(243, 250, 255);
}
.location {
    color: rgb(243, 250, 255);
    font-size: clamp(15px, 4vw, 1rem);
}

.media {
    color: rgb(243, 250, 255);
    font-size: 2.5rem;
}

@media screen and (max-width: 880px) {
    .mapContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .map {
        width: 100%;
        height: 350px;
        border: none;
        border-radius: 10px;
    }
}

@media screen and (max-width: 768px) {
    .mapContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
    }
}
