.overlay {
  margin-top: 1%;
  margin-left: 1%;
  position: absolute;
  z-index: 1;
  display: flex; /* Hace que los elementos dentro del overlay se organicen en una fila */
}
.overlay2 {
  margin-top: 120%;
  position: absolute;
  margin-left: 300%;
  z-index: 1;
  display: flex;
  opacity: 0.7;
}
.overlay3 {
  margin-top: 1%;
  position: absolute;
  margin-left: 615%;
  z-index: 1;
  display: flex;
}

.logoContainer,
.titleContainer {
  display: flex; /* Organiza los elementos internos en una fila */
  align-items: center; /* Centra verticalmente los elementos internos */
  margin-right: 15px; /* Espacio entre el logo y el título */
}

.imageLogo {
  height: 170px;
}
.imageLogo2 {
  height: 170px;
}
.imageLogoDb {
  height: 300px;
}

.titulo {
  color: white;
  margin: 0;
}

.imageBata {
  display: block;
  margin: 0 auto;
  width: 100%; /* Cambiar el ancho al 100% para ocupar todo el ancho disponible */
  max-width: none; /* Asegúrate de eliminar cualquier límite máximo de ancho */
  height: 590px;
  margin-bottom: 3%;
  border-radius: 2%;
  border: 2px solid rgba(0, 0, 255, 0.575);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 255, 0.5);
}

.homeText {
  margin-top: 4%;
  padding-left: 25%;
  padding-right: 25%;
}

.parrafo11 {
  color: #636363;
  flex-wrap: nowrap;
  padding-bottom: 8%;
}
.parrafo111 {
  color: #636363;
  flex-wrap: nowrap;
  padding-bottom: 1%;
}

.items {
  color: #777777;
}

.final {
  display: flex;
  justify-content: space-between; /* Distribuye los elementos a lo largo del contenedor con espacio entre ellos */
  align-items: center;
  padding: 8%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px; /* Agrega un espacio entre los botones */
}

.buttons > .preinscripcionesButton,
.buttons > .fotosButton {
  width: 200px;
}

.link {
  margin-left: 20%;
  display: inline-block;
  padding: 10px 16px;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.342);
  text-decoration: none;
  color: #000000d3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #80ffff83; /* Cambia el color al hacer hover */
}

.redesIcon {
  display: flex;
  align-items: center; /* Para centrar verticalmente */
  gap: 15px;
}

.redesIconTam {
  width: 30px;
  cursor: pointer;
}

.redes {
  display: flex;
  flex-direction: column; /* Para apilar el contenido uno encima del otro */
  align-items: center; /* Para centrar horizontalmente */
  justify-content: center; /* Para centrar verticalmente */
}
