.navBar {
  max-width: 40%;
  /* background-color: rgba(0, 0, 255, 0.055); */
  display: flex;
  justify-content: space-around;
  /* border: 1px solid rgba(0, 0, 255, 0.144); */
  /* border-radius: 10px; */
  margin: 0 auto;
}

.link {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 10px;
  background-color: rgba(0, 0, 255, 0.342);
  text-decoration: none;
  color: #000000d3;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 900;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #80ffff83;
}
